# Instacart Dataset – Exploratory Data Analysis (EDA)

## Objectif
Ce notebook a pour objectif de comprendre la structure, le contenu et la qualité
du dataset Instacart afin de préparer les étapes suivantes :
- Analyse comportementale client
- Association de produits
- Simulation de gains / économies pour les retailers

## Chargement des données

Le dataset Instacart contient 6 fichiers principaux :

* `orders.csv`
* `order_products__prior.csv`
* `order_products__train.csv`
* `products.csv`
* `aisles.csv`
* `departments.csv`

In [2]:
import pandas as pd
import numpy as np

path = "C:\\Users\\i025423\\OneDrive - Alliance\\Documents\\DSTI\\instacart-retail-project\\data_raw\\"  # adapte si besoin

orders = pd.read_csv(path + "orders.csv")
order_products_prior = pd.read_csv(path + "order_products__prior.csv")
order_products_train = pd.read_csv(path + "order_products__train.csv")
products = pd.read_csv(path + "products.csv")
aisles = pd.read_csv(path + "aisles.csv")
departments = pd.read_csv(path + "departments.csv")

In [ ]:
from IPython.display import display

def overview(df, name):
    print(f"\n--- {name} ---")
    display(df.head())
    print("Shape:", df.shape)
    print("Missing values:")
    display(df.isna().sum())
    print("Data types:")
    display(df.dtypes)
    print("Descriptive statistics:")
    display(df.describe(include='all'))

overview(orders, "orders")

overview(order_products_prior, "order_products__prior")
overview(products, "products")
overview(aisles, "aisles")
overview(departments, "departments")

--- orders ---

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

Shape: (3421083, 7)
Missing values:

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Data types:

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

Descriptive statistics:

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3421083,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
unique,NaN,NaN,3,NaN,NaN,NaN,NaN
top,NaN,NaN,prior,NaN,NaN,NaN,NaN
freq,NaN,NaN,3214874,NaN,NaN,NaN,NaN
mean,1.710542e+06,1.029782e+05,NaN,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,NaN,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,NaN,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,NaN,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,NaN,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,NaN,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,NaN,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

--- order_products__prior ---

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Shape: (32434489, 4)
Missing values:

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

Data types:

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

Descriptive statistics:

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

--- products ---

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

Shape: (49688, 4)
Missing values:

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

Data types:

product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object

Descriptive statistics:

          product_id                product_name      aisle_id  department_id
count   49688.000000                       49688  49688.000000   49688.000000
unique           NaN                       49688           NaN            NaN
top              NaN  Chocolate Sandwich Cookies           NaN            NaN
freq             NaN                           1           NaN            NaN
mean    24844.500000                         NaN     67.769582      11.728687
std     14343.834425                         NaN     38.316162       5.850410
min         1.000000                         NaN      1.000000       1.000000
25%     12422.750000                         NaN     35.000000       7.000000
50%     24844.500000                         NaN     69.000000      13.000000
75%     37266.250000                         NaN    100.000000      17.000000
max     49688.000000                         NaN    134.000000      21.000000

--- aisles ---

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

Shape: (134, 2)
Missing values:

aisle_id    0
aisle       0
dtype: int64

Data types:

aisle_id     int64
aisle       object
dtype: object

Descriptive statistics:

          aisle_id                  aisle
count   134.000000                    134
unique         NaN                    134
top            NaN  prepared soups salads
freq           NaN                      1
mean     67.500000                    NaN
std      38.826537                    NaN
min       1.000000                    NaN
25%      34.250000                    NaN
50%      67.500000                    NaN
75%     100.750000                    NaN
max     134.000000                    NaN

--- departments ---

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

Shape: (21, 2)
Missing values:

department_id    0
department       0
dtype: int64

Data types:

department_id     int64
department       object
dtype: object

Descriptive statistics:

        department_id department
count       21.000000         21
unique            NaN         21
top               NaN     frozen
freq              NaN          1
mean        11.000000        NaN
std          6.204837        NaN
min          1.000000        NaN
25%          6.000000        NaN
50%         11.000000        NaN
75%         16.000000        NaN
max         21.000000        NaN

## 5️⃣ Exploration détaillée des tables (orders)

🟦 `orders.csv`

Colonnes clés :

* order_id: 
* user_id: 
* order_number: 
* order_dow (day of week): 
* order_hour_of_day: 
* days_since_prior_order: