In [8]:
import requests
import pandas as pd

### Define Simulated Pricing Data

This cell defines average product prices by department.
The values simulate pricing information that would normally be retrieved from an external API.

In [9]:
category_prices = {
    "produce": 1.50,
    "dairy eggs": 2.50,
    "snacks": 2.00,
    "beverages": 1.80,
    "frozen": 3.00
}

### Create Pricing DataFrame

This cell converts the pricing dictionary into a tabular DataFrame with department names and average prices.

In [10]:
prices_df = pd.DataFrame(
    list(category_prices.items()),
    columns=["department", "avg_price"]
)

### Save Pricing Data as CSV

This cell saves the simulated pricing data to a CSV file.
This file acts as a stand-in for data retrieved from an external API and will be used in the enrichment step.

In [11]:
prices_df.to_csv("../data_raw/api_prices.csv", index=False)
prices_df

   department  avg_price
0     produce        1.5
1  dairy eggs        2.5
2      snacks        2.0
3   beverages        1.8
4      frozen        3.0

### Write Pricing Data to Disk

This cell writes the pricing data to a CSV file for later use in data enrichment.

In [12]:
prices_df.to_csv("../data_raw/api_prices.csv", index=False)